logs
*.log
.grunt
/node_modules
npm-debug.log
/coverage/
Configuration/appConfig.properties
package-lock.json
reports
videos
monetaAutomation/cucumber-html-report.js
jsconfig.json
screenshots
.vscode/