logs
*.log
.grunt
/node_modules
npm-debug.log
/coverage/
Configuration/appConfig.properties
package-lock.json
reports
mochawesome-report
videos
monetaAutomation/cucumber-html-report.js
cucumber-json
.vscode/